@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaBookC"), url("../../repair-design-project/assets/fonts/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaBookC-Italic"), url("../../repair-design-project/assets/fonts/FuturaBookC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaDemiC"), url("../../repair-design-project/assets/fonts/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaDemiC-Italic"), url("../../repair-design-project/assets/fonts/FuturaDemiC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaMediumC"), url("../../repair-design-project/assets/fonts/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), url("../../repair-design-project/assets/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'YesevaOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("YesevaOne-Regular"), url("../../repair-design-project/assets/fonts/YesevaOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaBookC"), url("../../repair-design-project/assets/fonts/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaBookC-Italic"), url("../../repair-design-project/assets/fonts/FuturaBookC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaDemiC"), url("../../repair-design-project/assets/fonts/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaDemiC-Italic"), url("../../repair-design-project/assets/fonts/FuturaDemiC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaMediumC"), url("../../repair-design-project/assets/fonts/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), url("../../repair-design-project/assets/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'YesevaOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("YesevaOne-Regular"), url("../../repair-design-project/assets/fonts/YesevaOne-Regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "FuturaBookC", Arial, sans-serif;
  color: #ffffff;
  background-color: #252525;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Button*/
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 33px;
  background-color: #E3B873;
  font-family: "FuturaDemiC-Italic", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.button:hover {
  background-color: transparent;
  color: #E3B873;
  -webkit-box-shadow: 0 0 0 2px #E3B873;
          box-shadow: 0 0 0 2px #E3B873;
}

.button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

/* HEADER */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 100px 23px 82px;
  background-color: #131313;
  text-transform: uppercase;
  font-size: 14px;
}

.header__logo {
  margin-right: 95px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  color: #E3B873;
}

.header__logo:hover {
  color: #c88b28;
}

/* Menu */
.menu__item {
  margin-right: 47px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  color: #ffffff;
  font-family: "FuturaBookC", Arial, sans-serif;
}

.menu__link:hover {
  color: #E3B873;
}

/* Contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

.contacts__link--underline {
  margin-right: 45px;
  text-decoration: underline;
  color: #E3B873;
  font-family: "FuturaDemiC", Arial, sans-serif;
}

.contacts__link--underline:hover {
  color: #c88b28;
}

/* MAIN */
/* Hero */
.hero {
  position: relative;
  min-height: 707px;
  background-color: #131313;
}

.hero__instagram {
  position: absolute;
  top: 260px;
  left: 15px;
  display: block;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.hero__wrapper {
  margin-left: 82px;
  padding-left: 60px;
  padding-top: 194px;
  background-image: url("./assets/img/bg-hero.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 40px;
  line-height: 53px;
  font-family: "YesevaOne-Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.hero__description {
  width: 500px;
  margin: 0;
  margin-bottom: 41px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.hero__button {
  margin-right: 19px;
  margin-bottom: 208px;
}

/* Projects */
.projects {
  position: relative;
  min-height: 610px;
  background-color: #131313;
}

.projects__complete {
  position: absolute;
}

.projects__slider {
  padding-top: 60px;
  padding-left: 100px;
}

/* Slider */
.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 594px;
}

/* Description */
/*# sourceMappingURL=main.css.map */