@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaBookC"), url("../../repair-design-project/assets/fonts/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaBookC-Italic"), url("../../repair-design-project/assets/fonts/FuturaBookC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaDemiC"), url("../../repair-design-project/assets/fonts/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaDemiC-Italic"), url("../../repair-design-project/assets/fonts/FuturaDemiC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaMediumC"), url("../../repair-design-project/assets/fonts/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), url("../../repair-design-project/assets/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'YesevaOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("YesevaOne-Regular"), url("../../repair-design-project/assets/fonts/YesevaOne-Regular.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaBookC"), url("../../repair-design-project/assets/fonts/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaBookC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaBookC-Italic"), url("../../repair-design-project/assets/fonts/FuturaBookC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaDemiC"), url("../../repair-design-project/assets/fonts/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: 'FuturaDemiC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local("FuturaDemiC-Italic"), url("../../repair-design-project/assets/fonts/FuturaDemiC-Italic.woff") format("woff");
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src: local("FuturaMediumC"), url("../../repair-design-project/assets/fonts/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), url("../../repair-design-project/assets/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'YesevaOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("YesevaOne-Regular"), url("../../repair-design-project/assets/fonts/YesevaOne-Regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "FuturaBookC", Arial, sans-serif;
  color: #ffffff;
  background-color: #252525;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Button*/
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 33px;
  background-color: #E3B873;
  font-family: "FuturaDemiC-Italic", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.button:hover {
  background-color: transparent;
  color: #E3B873;
  -webkit-box-shadow: 0 0 0 2px #E3B873;
          box-shadow: 0 0 0 2px #E3B873;
}

.button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

/* HEADER */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 100px 23px 82px;
  background-color: #131313;
  text-transform: uppercase;
  font-size: 14px;
}

.header__logo {
  margin-right: 95px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  color: #E3B873;
}

.header__logo:hover {
  color: #c88b28;
}

@media (max-width: 700px) {
  .page-header {
    padding: 0;
  }
  .header__logo {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .page-header {
    padding: 22px 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
  }
  .header__logo {
    margin: 0;
  }
}

/* Menu */
@media (max-width: 700px) {
  .menu {
    display: none;
  }
}

@media (max-width: 375px) {
  .menu {
    display: none;
  }
}

.menu__item {
  margin-right: 47px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  color: #ffffff;
  font-family: "FuturaBookC", Arial, sans-serif;
}

.menu__link:hover {
  color: #E3B873;
}

/* Contacts-nav */
.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

.contacts-nav__link--underline {
  margin-right: 45px;
  text-decoration: underline;
  color: #E3B873;
  font-family: "FuturaDemiC", Arial, sans-serif;
}

.contacts-nav__link--underline:hover {
  color: #c88b28;
}

@media (max-width: 700px) {
  .contacts-nav__item--button {
    display: none;
  }
}

@media (max-width: 375px) {
  .contacts-nav__item--button {
    display: none;
  }
}

@media (max-width: 700px) {
  .contacts-nav__link--underline {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .contacts-nav__link--underline {
    margin-right: 0;
  }
}

/* MAIN */
/* Hero */
.hero {
  position: relative;
  min-height: 707px;
  background-color: #131313;
}

.hero__instagram {
  position: absolute;
  top: 260px;
  left: 15px;
  display: block;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.hero__wrapper {
  margin-left: 82px;
  padding-left: 60px;
  padding-top: 194px;
  background-image: url("./assets/img/bg-hero.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

@media (max-width: 700px) {
  .hero__wrapper {
    padding-top: 85px;
    padding-left: 0;
    margin-left: 0;
    background-position: center;
  }
}

@media (max-width: 375px) {
  .hero__wrapper {
    padding-top: 80px;
    padding-left: 0;
    margin-left: 0;
    background-image: none;
    background-position: center;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 40px;
  line-height: 53px;
  font-family: "YesevaOne-Regular", Arial, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .hero__title {
    font-size: 23px;
    line-height: 31px;
  }
}

@media (max-width: 375px) {
  .hero__title {
    font-size: 20px;
    line-height: 31px;
  }
}

.hero__description {
  width: 500px;
  margin: 0;
  margin-bottom: 41px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.hero__button {
  margin-right: 19px;
  margin-bottom: 208px;
}

@media (max-width: 700px) {
  .hero__instagram {
    display: none;
  }
  .hero__description {
    width: auto;
  }
}

@media (max-width: 375px) {
  .hero {
    padding-left: 18px;
    padding-right: 18px;
    min-height: auto;
    background-image: url("./assets/img/bg-hero-mobile.png");
    background-repeat: no-repeat;
  }
  .hero__instagram {
    display: none;
  }
  .hero__title {
    margin-bottom: 14px;
  }
  .hero__description {
    width: 320px;
    margin-bottom: 32px;
    font-size: 18px;
  }
  .hero__hide {
    display: none;
  }
  .hero__button {
    width: 100%;
    margin-bottom: 26px;
  }
}

/* Projects */
.projects {
  position: relative;
  min-height: 610px;
  background-color: #131313;
}

.projects__complete {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 440px;
}

.projects__complete-title {
  margin: 0;
}

.projects__slider {
  padding-top: 60px;
  padding-left: 100px;
}

@media (max-width: 700px) {
  .projects__complete {
    position: static;
    display: block;
    width: auto;
  }
  .projects__slider {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .projects {
    padding: 0 18px;
  }
  .projects__complete {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .projects__complete-title {
    padding-top: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  .projects__complete-description {
    padding: 0 32px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .projects__slider {
    padding: 0;
  }
}

/* Slider */
.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 594px;
}

.slider__item--active {
  font-size: 14px;
  line-height: 19px;
  color: #E3B873;
  text-decoration: underline;
  text-transform: uppercase;
}

.slider__description {
  padding-top: 294px;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .slider__list {
    display: none;
  }
  .slider__images {
    display: none;
  }
}

@media (max-width: 375px) {
  .slider__list {
    display: none;
  }
  .slider__images {
    display: none;
  }
}

/* Description */
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 420px;
}

.description__item {
  width: 180px;
}

@media (max-width: 375px) {
  .description {
    width: auto;
  }
  .description__item {
    width: auto;
    margin-right: 61px;
  }
  .description__item:nth-child(2n) {
    margin-right: 0;
  }
}

/* CONTROL */
.control__wrapper--top {
  background-color: #131313;
}

.control__title {
  margin: 0;
}

.control__wrapper--bottom {
  background-color: #ffffff;
}

.control__description {
  color: #363636;
}

@media (max-width: 375px) {
  .control {
    padding: 0 18px;
    background-color: #131313;
  }
  .control__title {
    padding-top: 57px;
  }
  .control__wrapper--bottom {
    background-color: #131313;
  }
  .control__description {
    text-align: center;
    color: #ffffff;
  }
}

/* TYPES-REPAIR */
.types-repair {
  padding: 0 100px;
  padding-top: 147px;
  background-color: #ffffff;
  color: #959595;
}

.types-repair__title {
  margin: 0;
  text-align: center;
}

.types-repair__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .types-repair__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .types-repair__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.types-repair__item {
  margin-bottom: 59px;
}

@media (max-width: 375px) {
  .types-repair {
    padding: 0 18px;
    padding-top: 83px;
  }
}

/*  REQUEST  */
.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 124px;
  padding-bottom: 241px;
  background-color: #ffffff;
}

@media (max-width: 700px) {
  .request {
    display: none;
  }
}

@media (max-width: 375px) {
  .request {
    display: none;
  }
}

/* Form-request */
.form-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 506px;
  background-color: #131313;
}

@media (max-width: 700px) {
  .form-request {
    width: auto;
  }
}

@media (max-width: 375px) {
  .form-request {
    width: auto;
  }
}

/* STYLE */
.style {
  position: relative;
  padding: 0 100px;
  padding-bottom: 50px;
  background-image: url("./assets/img/bg-armenian-classic.png");
  background-repeat: no-repeat;
}

.style__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 137px;
  font-family: "YesevaOne-Regular", Arial, sans-serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.style__item {
  margin-bottom: 15px;
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
}

.style__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  top: -112px;
  right: 100px;
  width: 752px;
}

.style__image {
  margin-right: 43px;
  margin-bottom: 39px;
}

.style__image:nth-child(2n) {
  margin-right: 0;
}

.style__image--clock {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-top: 72px;
}

.style__image--sofa,
.style__image--tv {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.style__image--white-sofa {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: -360px;
}

@media (max-width: 700px) {
  .style {
    margin: 0;
    padding: 0;
  }
  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

@media (max-width: 375px) {
  .style {
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: #ffffff;
  }
  .style__title {
    text-align: center;
  }
  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

/*  DESIGN */
.design {
  position: relative;
  padding-bottom: 330px;
  background-color: #ffffff;
  color: #959595;
}

.design__title {
  padding-top: 152px;
  text-align: center;
}

.design__list {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .design__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .design {
    padding: 0 18px;
    background-color: #131313;
  }
  .design__subtitle,
  .design__title {
    text-align: center;
  }
  .design__list {
    position: static;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* WORK */
.work {
  position: relative;
  padding-top: 520px;
  background-color: #131313;
}

.work__wrapper {
  position: absolute;
}

/* Slider-work */
.slider-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 375px) {
  .work {
    display: none;
  }
  .slider-work__list {
    display: none;
  }
  .slider-work__image {
    display: none;
  }
}

/* TEAM */
.team {
  position: relative;
}

.team__wrapper--top {
  padding-top: 95px;
  padding-bottom: 258px;
  background-color: #131313;
}

.team__list {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__wrapper--bottom {
  padding-top: 301px;
  background-color: #ffffff;
}

.team__text {
  margin: 0;
  color: #363636;
}

@media (max-width: 700px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .team {
    padding: 0 18px;
    background-color: #131313;
  }
  .team__wrapper--top {
    padding-bottom: 0;
  }
  .team__list {
    position: static;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__wrapper--bottom {
    display: none;
  }
}

/* CLIENTS */
.clients {
  padding-top: 88px;
  background-color: #ffffff;
  color: #959595;
}

.clients__title {
  margin: 0;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .clients {
    display: none;
  }
}

/* QUESTION */
@media (max-width: 700px) {
  .question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .question {
    padding: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    background-color: #131313;
  }
}

/* FOOTER */
/* CONTACTS */
.contacts {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72)));
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

@media (max-width: 700px) {
  .contacts__map {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .contacts {
    padding: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__map {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 300px;
  }
}

/* FOOTER-MENU */
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 100px 23px 82px;
  background-color: #131313;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 700px) {
  .footer__menu {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer__menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */