@import "./assets/fonts";
@import "./assets/variables";


html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 15px;
  font-family: $fontBook;
  color: $mainColor;
  background-color: $bgColorSide;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}


.wrapper {
  max-width: $desktopWidth;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $mobileWidth) {
}

/* Button*/

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 33px;

  background-color: $yellowColor;
  font-family: $fontDemiIt;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

  &:hover {
    background-color: transparent;
    color: $yellowColor;
    box-shadow: 0 0 0 2px $yellowColor;
  }

  &:active {
    transform: translateY(3px);
  }
}

/* HEADER */

.page-header {
  display: flex;
  align-items: center;

  padding: 23px 100px 23px 82px;

  background-color: $bgColorDark;
  text-transform: uppercase;
  font-size: 14px;
}

.header__logo {
  margin-right: 95px;

  font-family: $fontDemi;
  color: $yellowColor;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

@media (max-width: 700px) {
  .page-header {
    padding: 0;
  }

  .header__logo {
    margin: 0;
  }
}

@media (max-width: $mobileWidth) {
  .page-header {
    padding: 22px 18px;
    justify-content: space-between;

    font-size: 12px;
    line-height: 14px;
  }

  .header__logo {
    margin: 0;
  }
}

/* Menu */

.menu {
  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

.menu__item {
  margin-right: 47px;
}

.menu__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__link {
  color: $mainColor;
  font-family: $fontBook;

  &:hover {
    color: $yellowColor;
  }
}

/* Contacts-nav */

.contacts-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: 20px;

  list-style: none;
}


.contacts-nav__link--underline {
  margin-right: 45px;

  text-decoration: underline;
  color: $yellowColor;
  font-family: $fontDemi;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

.contacts-nav__item--button {
  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

@media (max-width: 700px) {
  .contacts-nav__link--underline {
    margin-right: 0;
  }
  }

@media (max-width: $mobileWidth) {
  .contacts-nav__link--underline {
    margin-right: 0;
  }
}

/* MAIN */

/* Hero */ 

.hero {
  position: relative;
  min-height: 707px;
  
  background-color: $bgColorDark;
}

.hero__instagram {
  position: absolute;
  top: 260px;
  left: 15px;
  display: block;

  color: $yellowColor;
  transform: rotate(90deg);
  font-family: $fontDemi;
  font-size: 14px;
  line-height: 16px;
}

.hero__wrapper {
  margin-left: 82px;
  padding-left: 60px;
  padding-top: 194px;

  background-image: url('./assets/img/bg-hero.png');
  background-repeat: no-repeat;
  background-position-x: right;

  @media (max-width: 700px) {
    padding-top: 85px;
    padding-left: 0;
    margin-left: 0;
    background-position: center;
  }

  @media (max-width: $mobileWidth) {
    padding-top: 80px;
    padding-left: 0;
    margin-left: 0;
    background-image: none;
    background-position: center;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 40px;
  line-height: 53px;
  font-family: $fontYeseva;
  text-transform: uppercase;

  @media (max-width: 700px) {
    font-size: 23px;
    line-height: 31px;
  }

  @media (max-width: $mobileWidth) {
    font-size: 20px;
    line-height: 31px;
  }
}

.hero__description {
  width: 500px;
  margin: 0;
  margin-bottom: 41px;

  font-family: $fontBook;
  font-size: 22px;
  line-height: 30px;
}

.hero__button {
  margin-right: 19px;
  margin-bottom: 208px;
}

@media (max-width: 700px) {
  .hero__instagram {
    display: none;
  }
  
  .hero__description {
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .hero {
    padding-left: 18px;
    padding-right: 18px;
    min-height: auto;

    background-image: url('./assets/img/bg-hero-mobile.png');
    background-repeat: no-repeat;
  }

  .hero__instagram {
    display: none;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__description {
    width: 320px;
    margin-bottom: 32px;

    font-size: 18px;
  }

  .hero__hide {
    display: none;
  }

  .hero__button {
    width: 100%;
    margin-bottom: 26px;
  }
}

/* Projects */ 
.projects {
  position: relative;
  min-height: 610px;

  background-color: $bgColorDark;
}

.projects__complete {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 440px;
}

.projects__complete-title {
  margin: 0;
}

.projects__slider {
  padding-top: 60px;
  padding-left: 100px;
}

@media (max-width: 700px) {
  .projects__complete {
    position: static;
    display: block;
    width: auto;
  }

  .projects__slider {
    padding: 0;
  }
}

@media (max-width: $mobileWidth) {
  .projects {
    padding: 0 18px;
  }
  .projects__complete {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .projects__complete-title {
    padding-top: 36px;
    margin-bottom: 20px;
    text-align: center;
  }

  .projects__complete-description {
    padding: 0 32px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .projects__slider {
    padding: 0;
  }
}

/* Slider */

.slider__list {
  display: flex;
  padding-left: 594px;
}

.slider__item--active {
  font-size: 14px;
  line-height: 19px;
  color: $yellowColor;
  text-decoration: underline;
  text-transform: uppercase;
}

.slider__description {
  padding-top: 294px;
}

.slider__wrapper {
  display: flex;
}

.slider__images {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .slider__list {
    display: none;
  }

  .slider__images {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .slider__list {
    display: none;
  }

  .slider__images {
    display: none;
  }
}

/* Description */ 

.description {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
}

.description__item {
  width: 180px;
}

@media (max-width: $mobileWidth) {
  .description {
    width: auto;
  }

  .description__item {
    width: auto;
    margin-right: 61px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

/* CONTROL */ 

.control__wrapper--top {
  background-color: $bgColorDark;
}

.control__title {
  margin: 0;
}

.control__wrapper--bottom {
  background-color: $bgColorWhite;
}

.control__description {
  color: $secondColor;
}

@media (max-width: $mobileWidth) {
  .control {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .control__title {
    padding-top: 57px;
  }

  .control__wrapper--bottom {
    background-color: $bgColorDark;
  }

  .control__description {
    text-align: center;
    color: $mainColor;
  }
}

/* TYPES-REPAIR */

.types-repair {
  padding: 0 100px;
  padding-top: 147px;

  background-color: $bgColorWhite;
  color: $grayColor;
}

.types-repair__title {
  margin: 0;
  text-align: center;
}

.types-repair__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
  }
}

.types-repair__item {
  margin-bottom: 59px;
}


@media (max-width: $mobileWidth) {
  .types-repair {
    padding: 0 18px;
    padding-top: 83px;
  }
}

/*  REQUEST  */ 

.request {
  display: flex;
  padding-top: 124px;
  padding-bottom: 241px;
  background-color: $bgColorWhite;

  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

/* Form-request */ 

.form-request {
  display: flex;
  flex-direction: column;
  width: 506px;

  background-color: $bgColorDark;
}

@media (max-width: 700px) {
  .form-request {
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .form-request {
    width: auto;
  }
}

/* STYLE */

.style {
  position: relative;
  padding: 0 100px;
  padding-bottom: 50px;
  background-image: url('./assets/img/bg-armenian-classic.png');
  background-repeat: no-repeat;
}

.style__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 137px;

  font-family: $fontYeseva;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $yellowColor;
}

.style__item {
  margin-bottom: 15px;

  font-family: $fontProxima;
  font-size: 20px;
  line-height: 34px;

  color: $mainColor;
}

.style__images {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  top: -112px;
  right: 100px;
  width: 752px;
}

.style__image {
  margin-right: 43px;
  margin-bottom: 39px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}
.style__image--clock {
  align-self: auto;
  margin-top: 72px;
}

.style__image--sofa,
.style__image--tv {
  align-self: flex-start;
}

.style__image--white-sofa {
  align-self: flex-start;
  margin-top: -360px;
}

@media (max-width: 700px) {
  .style {
    margin: 0;
    padding: 0;
  }

  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .style {
    margin: 0;
    padding: 0;

    background-image: none;
    background-color: $bgColorWhite;
  }

  .style__title {
    text-align: center;
  }

  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

/*  DESIGN */

.design {
  position: relative;
  padding-bottom: 330px;

  background-color: $bgColorWhite;
  color: $grayColor;
}

.design__title {
  padding-top: 152px;

  text-align: center;
}

.design__list {
  position: absolute;
  z-index: 2;
  display: flex;
}

@media (max-width: 700px) {
  .design__list {
    flex-wrap: wrap;
  }
}

@media (max-width: $mobileWidth) {

  .design {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .design__subtitle,
  .design__title {
    text-align: center;
  }
  .design__list {
    position: static;
    flex-wrap: wrap;
  }
}

/* WORK */ 

.work {
  position: relative;
  padding-top: 520px;

  background-color: $bgColorDark;
}

.work__wrapper {
  position: absolute;
}

/* Slider-work */ 

.slider-work {
  display: flex;
}

.slider-work__wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: $mobileWidth) {
  .work {
    display: none;
  }

  .slider-work__list {
    display: none;
  }

  .slider-work__image {
    display: none;
  }
}

/* TEAM */ 

.team {
  position: relative;
}

.team__wrapper--top {
  padding-top: 95px;
  padding-bottom: 258px;
  background-color: $bgColorDark;
}

.team__list {
  position: absolute;
  top: 30%;
  display: flex;
}

.team__wrapper--bottom {
  padding-top: 301px;
  background-color: $bgColorWhite;
}

.team__text {
  margin: 0;
  color: $secondColor;
}

@media (max-width: 700px) {
  .team__list {
    flex-wrap: wrap;
  }
}

@media (max-width: $mobileWidth) {
  .team {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .team__wrapper--top {
    padding-bottom: 0;
  }

  .team__list {
    position: static;
    flex-wrap: wrap;
  }

  .team__wrapper--bottom {
    display: none;
  }
}

/* CLIENTS */

.clients {
  padding-top: 88px;
  background-color: $bgColorWhite;
  color: $grayColor;
}

.clients__title {
  margin: 0;
}

.clients__list {
  display: flex;
}

@media (max-width: $mobileWidth) {
  .clients {
    display: none;
  }
}

/* QUESTION */

@media (max-width: 700px) {
  .question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: $mobileWidth) {
  .question {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    background-color: $bgColorDark;
  }
}

/* FOOTER */ 



/* CONTACTS */ 

.contacts {
  text-align: center;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

@media (max-width: 700px) {
  .contacts__map {
    width: 300px;
  }
}

@media (max-width: $mobileWidth) {
  .contacts {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
  }
  .contacts__map {
    order: -1;
    width: 300px;
  }
}

/* FOOTER-MENU */ 

.footer__menu {
  display: flex;
  align-items: center;

  padding: 23px 100px 23px 82px;

  background-color: $bgColorDark;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 700px) {
  .footer__menu {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .footer__menu {
    display: none;
  }
}