@import "./assets/fonts";
@import "./assets/variables";


html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 15px;
  font-family: $fontBook;
  color: $mainColor;
  background-color: $bgColorSide;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}


.wrapper {
  max-width: $desktopWidth;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $mobileWidth) {
}

/* Button*/

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 33px;

  background-color: $yellowColor;
  font-family: $fontDemiIt;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $yellowColor;
    box-shadow: 0 0 0 2px $yellowColor;
  }

  &:active {
    transform: translateY(3px);
  }

  &--alt {
    background-color: transparent;
    box-shadow: 0 0 0 2px $bgColorWhite;
  }
}

/* HEADER */

.page-header {
  display: flex;
  align-items: center;

  padding: 23px 100px 23px 82px;

  background-color: $bgColorDark;
  text-transform: uppercase;
  font-size: 14px;
}

.header__logo {
  margin-right: 95px;

  font-family: $fontDemi;
  color: $yellowColor;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

@media (max-width: 1437px) {
  .page-header {
    padding: 1.6% 7% 1.6% 5.7%;
  }

  .header__logo {
    margin-right: 6.5%;
  }
}

@media (max-width: 880px) {
  .page-header {
    padding-left: 1%;
    padding-right: 1%;
  }

  .header__logo {
    margin-right: 3%;
  }
}

@media (max-width: $mobileWidth) {
  .page-header {
    padding: 22px 18px;
    justify-content: space-between;

    font-size: 12px;
    line-height: 14px;
  }

  .header__logo {
    margin: 0;
  }
}

/* Menu */

.menu {
  
}

.menu__item {
  margin-right: 47px;
}

.menu__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__link {
  color: $mainColor;
  font-family: $fontBook;

  &:hover {
    color: $yellowColor;
  }
}

@media (max-width: 1350px) {
  .menu__item {
    margin-right: 5%;
  }

  .menu {
    margin-right: 80px;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .menu {
    display: none;
  }
}

/* Contacts-nav */

.contacts-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: 20px;

  list-style: none;
}


.contacts-nav__link--underline {
  margin-right: 45px;

  text-decoration: underline;
  color: $yellowColor;
  font-family: $fontDemi;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

.contacts-nav__item--button {
  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

@media (max-width: 700px) {
  .contacts-nav__link--underline {
    margin-right: 0;
  }
  }

@media (max-width: $mobileWidth) {
  .contacts-nav__link--underline {
    margin-right: 0;
    text-decoration: none;
    color: $mainColor;
  }
}

/* MAIN */

main {
  position: relative;
}

/* Hero */ 

.hero {
  position: relative;
  min-height: 707px;
  
  background-color: $bgColorDark;
}

.hero__instagram {
  position: absolute;
  top: 260px;
  left: 15px;
  display: block;

  color: $yellowColor;
  transform: rotate(90deg);
  font-family: $fontDemi;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 40%;
    right: -61px;
    display: block;
    width: 51px;
    height: 1px;
    background-color: $yellowColor;
  }
}

.hero__wrapper {
  margin-left: 82px;
  padding-left: 60px;
  padding-top: 194px;

  background-image: url('./assets/img/bg-hero.png');
  background-repeat: no-repeat;
  background-position-x: right;

  @media (max-width: 700px) {
    padding-top: 85px;
    padding-left: 0;
    margin-left: 0;
    background-position: center;
  }

  @media (max-width: $mobileWidth) {
    padding-top: 80px;
    padding-left: 0;
    margin-left: 0;
    background-image: none;
    background-position: center;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 40px;
  line-height: 53px;
  font-family: $fontYeseva;
  text-transform: uppercase;

  @media (max-width: 700px) {
    font-size: 23px;
    line-height: 31px;
  }

  @media (max-width: $mobileWidth) {
    font-size: 20px;
    line-height: 31px;
  }
}

.hero__description {
  width: 500px;
  margin: 0;
  margin-bottom: 41px;

  font-family: $fontBook;
  font-size: 22px;
  line-height: 30px;
}

.hero__button {
  margin-right: 19px;
  margin-bottom: 208px;
}

.hero__scroll-down {
  display: block;
  position: absolute;
  bottom: -34px;
  z-index: 3;
  padding: 34px 48px;
  padding-right: 89px;

  font-family: $fontYeseva;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: $mainColor;

  background-color: $bgColorDark;

  &::after {
    position: absolute;
    display: block;
    content: url("./assets/img/icon-scroll-down.svg");
    top: 25px;
    right: 48px;
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 1100px) {
  .hero__instagram {
    display: none;
  }

  .hero__wrapper {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .hero__instagram {
    display: none;
  }
  
  .hero__description {
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .hero {
    padding-left: 18px;
    padding-right: 18px;
    min-height: auto;

    background-image: url('./assets/img/bg-hero-mobile.png');
    background-repeat: no-repeat;
  }

  .hero__instagram {
    display: none;
  }

  .hero__title {
    margin-bottom: 14px;
  }

  .hero__description {
    max-width: 320px;
    margin-bottom: 32px;

    font-size: 18px;
  }

  .hero__hide {
    display: none;
  }

  .hero__button {
    width: 100%;
    margin-bottom: 26px;
  }

  .hero__button.button--alt {
    margin-bottom: 61px;
  }

  .hero__scroll-down {
    display: none;
  }
}

/* Slider */

.slider {
  display: flex;
  justify-content: space-between;
  min-height: 610px;
  padding-top: 107px;
  padding-left: 100px;

  background-color: $bgColorDark;
}

.slider__wrapper-title {
  padding-top: 70px;
}

.slider__title {
  margin: 0;
  margin-bottom: 34px;

  font-family: $fontYeseva;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $yellowColor;
}

.slider__text {
  margin: 0;
  width: 435px;

  font-size: 18px;
  line-height: 29px;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
}

.slider__info {
  display: flex;
  flex-direction: column;
  position: relative;
}



.slider__list {
  display: flex;
  margin-bottom: 45px;
  padding-left: 30px;
}

.slider__item {
  margin-right: 60px;

  font-size: 14px;
  line-height: 19px;
  color: $mainColor;
  text-transform: uppercase;

  opacity: 0.3;
  cursor: pointer;
}

.slider__item--active {
  border-bottom: 1px solid $yellowColor;
  color: $yellowColor;
  opacity: 1;
}

.slider__button {
  position: absolute;
  right: 47px;
  top: 45%;
  width: 55px;
  height: 55px;
  background-image: url("./assets/img/icon-slider-right.png");
  background-repeat: no-repeat;
  background-position: center;
  
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.slider__mobile {
  position: relative;
}

.slider__button-mobile {
  display: none;
  position: absolute;
  right: 23px;
  top: 40%;
  width: 36px;
  height: 36px;
  background-image: url("./assets/img/icon-slider-right.png");
  background-repeat: no-repeat;
  background-position: center;
  
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &--left {
    transform: rotate(180deg);
    left: 25px;
  }
}

.slider__images {
  display: flex;
  align-items: flex-start;

  box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1437px) {
  // .slider__list {
  //   display: none;
  // }

  // .slider__images {
  //   display: none;
  // }
  .slider__image--half {
    display: none;
  }
}

@media (max-width: 1350px) {
  .slider {
    padding-left: 5%;
  }
}

@media (max-width: 880px) {
  .slider {
    flex-direction: column;
    align-items: center;
  }

  .slider__text {
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .slider {
    padding: 36px 18px 0 18px;
    min-height: auto;
  }

  .slider__wrapper-title {
    padding-top: 0;

    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }

  .slider__text {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 22px;
  }

  .slider__list {
    display: none;
  }

  .slider__images {
    display: none;
  }

  .slider__button {
    display: none;
  }

  .slider__button-mobile {
    display: block;
  }

  // .slider__images picture {
  //   position: relative;
  //   z-index: 20;
  //   display: block;
  //   width: 340px;
  //   height: 242px;
  //   margin-bottom: 300px;
  // }
}

/* Description */ 

.description {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
}

.description__item {
  width: 180px;
}

.description__subtitle {
  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $yellowColor;
}

.description__controls {
  display: flex;
}

.description__link {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 17px;
  background-color: $bgColorWhite;
  opacity: 0.3;
  border-radius: 50%;

  &--left-arrow,
  &--right-arrow {
    opacity: 1;
    border-radius: 0;
    width: 41px;
    height: 13px;
  }

  &--left-arrow {
    background: url("./assets/img/slider-left-arrow.png");
  }

  &--right-arrow {
    background: url("./assets/img/slider-right-arrow.png");
  }

  &--active {
    opacity: 1;
  }
}

@media (max-width: 470px) {
  .description {
    width: auto;
  }
}

@media (max-width: $mobileWidth) {
  .description {
    width: auto;
  }

  .description__item {
    width: auto;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .description__subtitle,
  .description__text {
    font-size: 14px;
    line-height: 19px;
  }

  .description__controls {
    display: none;
  }
}

/* CONTROL */ 

.control {
  position: relative;
}

.control__wrapper--top {
  padding-bottom: 257px;
  background-color: $bgColorDark;
}

.control__title {
  position: relative;
  margin: 0;

  font-family: $fontYeseva;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 40px;
    left: 46%;
    content: url("./assets/img/icon-h2-control.png");
  }
}

.control__video {
  position: absolute;
  top: 100px;
  left: calc(50% - 409px);

  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.control__wrapper--bottom {
  padding-top: 306px;
  background-color: $bgColorWhite;
}

.control__description {
  position: relative;
  padding: 0 378px;

  text-align: center;
  font-size: 20px;
  line-height: 34px;
  color: $secondColor;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: calc(50% - 27px);
    display: inline-block;
    width: 55px;
    height: 2px;
    background-color: $yellowColor;
  }
}

@media (max-width: 1350px) {
  .control__video iframe {
    max-width: 817px;
    max-height: 434px;
  }

  .control__description {
    padding: 0 20%;
  }
}

@media (max-width: 880px) {
  .control__video {
    position: static;
  }

  .control__video iframe {
    max-width: 100%;
    // height: 80%;
  }
}

@media (max-width: $mobileWidth) {
  .control {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .control__wrapper--top {
    padding-bottom: 0;
  }

  .control__title {
    padding-top: 57px;
    margin-bottom: 70px;

    &::after {
      top: 100px;
      left: 30%;
    }
  }

  .control__wrapper--bottom {
    padding-top: 35px;
    background-color: $bgColorDark;
  }

  .control__description {
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $mainColor;
  }
}

/* Form */ 

.form {
  padding: 0 335px;
  margin: 0 auto;
  margin-top: 80px;
  color: $secondColor;
}

.form__wrapper {
  display: flex;
  margin-bottom: 37px;
}

.form__label {
  color: rgba(54, 54, 54, 0.5);
  margin-right: 49px;
  text-align: left;
}

.form__input {
  width: 231px;

  font-family: $fontFutMedium;
  font-size: 18px;
  line-height: 25px;
  color: $mainColor;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);

  &::placeholder {
    color: $secondColor;
  }
}

.form__checkbox-label {
  display: block;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1350px) {
  .form {
    padding: 0 15%;
  }

  .form__wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: $mobileWidth) {
  .form {
    position: relative;
    margin-top: 50px;
    padding: 0;
  }

  .form__wrapper {
    margin-bottom: 0;
  }

  .form__label {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 0;

    &:first-child {
      margin-bottom: 60px;
    }
  }

  .form__input {
    max-width: 350px;
    // margin-bottom: 60px;

    &::placeholder {
      color: $mainColor;
    }
  }

  .form__checkbox-label {
    padding-bottom: 88px;
    color: $mainColor;
    width: 100%;
  }

  .form__button {
    position: absolute;
    bottom: -20px;
    width: 100%;
  }
}

/* TYPES-REPAIR */

.types-repair {
  padding: 0 100px;
  padding-top: 147px;

  background-color: $bgColorWhite;
  color: $grayColor;
}

.types-repair__title {
  position: relative;
  margin: 0;
  padding-bottom: 31px;
  margin-bottom: 31px;
  text-align: center;

  &::after {
    position: absolute;
    top: 40px;
    left: 46%;
    content: url("./assets/img/icon-h2-types.png");
  }
}

.types-repair__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .types-repair {
    padding-left: 0;
    padding-right: 0;
  }
  .types-repair__list {
    flex-direction: column;
    align-items: center;
  }

  .types-repair__item {
    margin-bottom: 150px;
  }
}

@media (max-width: $mobileWidth) {
  .types-repair {
    padding: 0 18px;
    padding-top: 83px;
  }

  .types-repair__title {
    font-size: 22px;
    line-height: 30px;

    &::after {
      left: 30%;
    }
  }

  .types-repair__item {
    margin-bottom: 200px;
  }
}

/* Container  */ 

.container {
  position: relative;
}

.container__list {
  position: absolute;
  left: 31px;
  bottom: -100px;
  width: 330px;
  padding-top: 25px;
  padding-left: 34px;
  padding-bottom: 40px;

  list-style: circle;
  background-color: $bgColorWhite;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.container__title {
  margin-bottom: 13px;
  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 25px;

  color: $secondColor;
}

.container__item {
  margin-bottom: 13px;
  margin-left: 15px;
}

.container__button {
  position: absolute;
  left: 31px;
  bottom: -120px;
  z-index: 3;

  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

@media (max-width: 1350px) {
  .container__list {
    width: 80%;
  }
}

@media (max-width: $mobileWidth) {
  .container__list {
    left: 0;
    bottom: -160px;
  }

  .container__button {
    bottom: -180px;
  }
}

/*  REQUEST  */ 

.request {
  display: flex;
  justify-content: space-between;
  padding-top: 311px;
  padding-bottom: 241px;
  padding-right: 100px;
  background-color: $bgColorWhite;

  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

.request__form {
  margin-bottom: 38px;
}

/* Form-request */ 

.form-request {
  display: flex;
  flex-direction: column;
  width: 506px;
  padding: 28px 49px;

  background-color: $bgColorDark;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.form-request__title {
  margin: 0;
  margin-bottom: 39px;

  font-family: $fontDemi;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.form-request__label {
  color: rgba(255, 255, 255, 0.5);

  &:nth-of-type(1) {
    margin-bottom: 48px;
  }

  &:nth-of-type(2) {
    margin-bottom: 48px;
  }
}

.form-request__input {
  width: 100%;

  font-family: $fontFutMedium;
  font-size: 18px;
  line-height: 25px;
  color: $mainColor;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  &::placeholder {
    color: $mainColor;
  }
}

.form-request__checkbox {
  margin-top: 16px;
  margin-bottom: 39px;
}

.form-request__input[type="checkbox"] {
  width: auto;
  background-color: $yellowColor;
  color: $yellowColor;
}

.form-request__button {
  width: 50%;
  align-self: flex-end;
}

.request__discount {
  position: relative;
  display: block;
  padding-left: 120px;
  font-family: $fontDemi;
  font-size: 20px;
  line-height: 25px;

  color: $yellowColor;

  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

  &::before {
    position: absolute;
    left: 20px;
    top: -10px;
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    background-image: url(./assets/img/icon-pig.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -20px -10px;
  }
}

@media (max-width: 1354px) {
  .request {
    justify-content: center;
  }
  
  .request__image {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .form-request {
    width: auto;
  }
}

/* STYLE */

.style {
  position: relative;
  padding: 0 100px;
  padding-bottom: 50px;
  background-image: url('./assets/img/bg-armenian-classic.png');
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.style__title {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 137px;

  font-family: $fontYeseva;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $yellowColor;
}

.style__item {
  margin-bottom: 15px;

  font-family: $fontProxima;
  font-size: 20px;
  line-height: 34px;

  color: $mainColor;
  cursor: pointer;

  &--active {
    width: auto;
    color: $yellowColor;
    text-decoration: underline;
  }

  &:hover {
    color: $yellowColor;
  }
}

.style__images {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  top: -112px;
  right: 100px;
  width: 752px;
}

.style__image {
  margin-right: 43px;
  margin-bottom: 39px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:nth-child(2n) {
    margin-right: 0;
  }
}
.style__image--clock {
  align-self: auto;
  margin-top: 72px;
}

.style__image--sofa,
.style__image--tv {
  align-self: flex-start;
}

.style__image--white-sofa {
  align-self: flex-start;
  margin-top: -360px;
}

.style-mobile {
  display: none;
}

@media (max-width: 1300px) {
  .style {
    padding: 0 5%;
  }

  .style__images {
    width: 52%;
    top: 10%;
    right: -0;
  }

  .style__image {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .style {
    margin: 0;
    padding: 0;
  }

  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .style {
    position: relative;
    margin: 0;
    padding: 0;

    background-image: none;
    background-color: $bgColorWhite;
  }

  .style-mobile {
    padding-left: 7px;
    display: block;
    position: absolute;
    top: 130px;
    z-index: 5;
  }

  .style-mobile__button {
    position: absolute;
    right: 23px;
    top: 43%;
    width: 36px;
    height: 36px;
    background-image: url("./assets/img/icon-slider-right.png");
    background-repeat: no-repeat;
    background-position: center;
    
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &--left {
      transform: rotate(180deg);
      left: 25px;
    }
  }

  .style__title {
    padding-top: 55px;
    padding-bottom: 145px;
    margin-bottom: 0;

    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }

  .style__list {
    display: none;
  }
  .style__images {
    display: none;
  }
}

/*  DESIGN */

.design {
  position: relative;
  padding-bottom: 330px;

  background-color: $bgColorWhite;
  color: $grayColor;
}

.design__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-top: 152px;
  padding-bottom: 30px;

  text-align: center;
  font-family: $fontYeseva;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;

  color: $secondColor;

  &::after {
    position: absolute;
    top: 190px;
    left: 46%;
    content: url("./assets/img/icon-h2-design.png");
  }
}

.design__subtitle {
  margin: 0;
  margin-bottom: 39px;

  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: $secondColor;
}

.design__list {
  display: flex;
  padding: 0 100px;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
}

@media (max-width: 1000px) {
  .design__list {
    position: static;
    flex-direction: column;
    // margin-bottom: 40px;
    padding: 0 5%;

    align-items: center;
  }

  .design__item {
    margin-bottom: 200px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobileWidth) {

  .design {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .design__subtitle,
  .design__title {
    text-align: center;
  }

  .design__title {
    font-size: 22px;
    line-height: 30px;
    color: $mainColor;

    &::after {
      left: 30%;
    }
  }

  .design__subtitle {
    font-size: 15px;
    line-height: 20px;

    color: $mainColor;
  }

  .design__list {
    position: static;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .design__item {
    &:first-child {
      margin-bottom: 80px;
    }
  }
}

/* Design-wrap */ 

.design-wrap {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.design-wrap__list {
  position: absolute;
  left: 31px;
  bottom: -100px;
  width: 330px;
  padding-top: 25px;
  padding-left: 34px;
  padding-bottom: 40px;

  list-style: circle;
  background-color: $bgColorWhite;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

  &--standart {
    bottom: -190px;
  }

  &--full {
    bottom: -340px;
  }
}

.design-wrap__title {
  margin-bottom: 13px;
  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 25px;

  color: $secondColor;
}

.design-wrap__item {
  margin-bottom: 13px;
  margin-left: 15px;
}

.design-wrap__button {
  position: absolute;
  left: 31px;
  bottom: -120px;
  z-index: 3;

  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

  &--standart {
    bottom: -210px;
  }

  &--full {
    bottom: -360px;
  }
}

@media (max-width: 1350px) {
  .design-wrap__list {
    width: 80%;
  }
}

@media (max-width: $mobileWidth) {
  .design-wrap {
    margin-right: 0;
    padding-bottom: 80px;
  }

  .design-wrap__list {
    left: 0;
    bottom: 0;

    &--standart {
      bottom: -145px;
    }

    &--full {
      bottom: -200px;
    }
  }

  .design-wrap__item {
    margin-bottom: 6px;

    font-size: 13px;
    line-height: 22px;
  }

  .design-wrap__button {
    bottom: -15px;
    left: 0;
  
    &--standart {
      bottom: -170px;
    }
  
    &--full {
      bottom: -30px;
    }
}
}

/* Slider-work */ 

.slider-work {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  padding-top: 520px;

  background-color: $bgColorDark;
}

.slider-work__wrapper {
  display: flex;
  flex-direction: column;
}

.slider-work__list {
  max-width: 766px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.slider-work__item {
  margin-right: 180px;
  margin-bottom: 36px;
  width: 127px;
  opacity: 0.3;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }
}

.slider-work__num {
  position: relative;
  width: 100%;
  // display: inline-block;
  margin-bottom: 12px;
  font-family: $fontYeseva;
  line-height: 21px;
  text-transform: uppercase;

  border-bottom: 1px solid $yellowColor;
}

.slider-work__image {
  max-width: 765px;
}

@media (max-width: 1200px) {
  .slider-work {
    padding: 0 7%;
    padding-top: 36%;
  }

  .slider-work__item {
    margin-right: 12.5%;
  }

  .slider-work__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .slider-work {
    padding-top: 5%;
  }
}

@media (max-width: 720px) {
  .slider-work {
    flex-direction: column;
  }
}

@media (max-width: $mobileWidth) {
  .slider-work {
    display: none;
  }
}

/* work-description */ 

.work-description {
  max-width: 337px;
}

.work-description__title {
  margin: 0;
  margin-bottom: 15px;

  font-family: $fontDemi;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
}

.work-description__text {
  margin: 0;
  margin-bottom: 90px;

  font-family: $fontYeseva;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $yellowColor;
}

.work-description__count {
  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.work-description__description-title {
  font-family: $fontYeseva;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: $yellowColor;
}

.work-description__description-text {
  line-height: 25px;
}

.work-description__controls {
  display: flex;
}

.work-description__link {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 17px;
  background-color: $bgColorWhite;
  opacity: 0.3;
  border-radius: 50%;

  &--left-arrow,
  &--right-arrow {
    opacity: 1;
    border-radius: 0;
    width: 41px;
    height: 13px;
  }

  &--left-arrow {
    background: url("./assets/img/slider-left-arrow.png");
  }

  &--right-arrow {
    background: url("./assets/img/slider-right-arrow.png");
  }

  &--active {
    opacity: 1;
  }
}

/* TEAM */ 

.team {
  position: relative;
}

.team__wrapper--top {
  padding-top: 95px;
  padding-bottom: 258px;
  background-color: $bgColorDark;
}

.team__title {
  position: relative;
  padding-bottom: 41px;
  margin-bottom: 23px;
  font-family: $fontYeseva;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 40px;
    left: 46%;
    content: url("./assets/img/icon-h2-team.png");
  }
}

.team__subtitle {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.team__list {
  position: absolute;
  top: 40%;
  left: 206px;
  display: flex;
}

.team__item {
  position: relative;
  margin-right: 105px;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    left: -35px;
    top: -35px;

    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    
    background-position: -20px -15px;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }

  &--head::after {
    background-image: url(./assets/img/icon-head.png);
  }

  &--designer::after {
    background-image: url(./assets/img/icon-designer.png);
  }

  &--foreman::after {
    background-image: url(./assets/img/icon-foreman.png);
  }
}

.team__image {
  max-width: 272px;
}

.team__description {
  padding-top: 22px;
  position: absolute;
  bottom: -70px;
  left: 20px;
  background-color: $bgColorWhite;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.team__name {
  display: block;

  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #181818;
}

.team__job {
  display: block;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: $grayColor;
}

.team__wrapper--bottom {
  padding-top: 301px;

  background-color: $bgColorWhite;
}

.team__text {
  margin: 0;

  color: $secondColor;
  text-align: center;
  font-size: 20px;
  line-height: 34px;
}

@media (max-width: 1350px) {
  .team__list {
    left: 5%;
  }

  .team__item {
    margin-right: 7.3%;
  }
}

@media (max-width: 1000px) {
  .team__wrapper--top {
    padding-bottom: 5%;
  }

  .team__list {
    flex-direction: column;
    align-items: center;
    position: static;
    padding-left: 3%;
    background-color: $bgColorDark;
  }

  .team__item {
    margin-bottom: 100px;
  }

  .team__wrapper--bottom {
    padding-top: 5%;
  }
}

@media (max-width: $mobileWidth) {
  .team {
    padding: 0 18px;

    background-color: $bgColorDark;
  }

  .team__wrapper--top {
    padding-bottom: 0;
  }

  .team__title {
    font-size: 22px;
    line-height: 30px;

    &::after {
      left: 30%;
    }
  }

  .team__subtitle {
    font-size: 15px;
    line-height: 20px;
  }

  .team__list {
    position: static;
    flex-direction: column;
    align-items: center;
  }

  .team__item {
    margin-right: 0;
  }

  .team__wrapper--bottom {
    display: none;
  }
}

/* CLIENTS */

.clients {
  padding: 0 100px;
  padding-top: 88px;
  padding-bottom: 381px;
  background-color: $bgColorWhite;
  color: $grayColor;
}

.clients__title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;

  font-family: $fontYeseva;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;

  &::after {
    position: absolute;
    top: 40px;
    left: 46%;
    content: url("./assets/img/icon-h2-clients.png");
  }
}

.clients__subtitle {
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: $secondColor;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  position: relative;
  max-width: 376px;
  padding: 24px 32px 85px 20px;

  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients__info {
  display: flex;
  align-items: center;
}

.clients__avatar {
  margin-right: 23px;
}

.clients__name {
  font-family: $fontYeseva;
  font-size: 18px;
  line-height: 23px;

  color: #181818;
}

.clients__review {
  line-height: 27px;
}

.clients__button {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.clients__perimeter,
.clients__days {
  position: relative;
  padding-left: 37px;

  &::before {
    position: absolute;
    left: -10px;
    top: -7px;
    content: "";
    display: block;
    width: 33px;
    height: 33px;
  }
}

.clients__perimeter {
  margin-right: 14px;

  &::before {
    background-image: url("./assets/img/icon-perimeter.png");
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    right: -5px;
    top: -12px;
    width: 1px;
    height: 54px;
    background-color: $bgColorWhite;
  }
}

.clients__days {

  &::before {
    top: -9px;
    left: 0px;
    background-image: url("./assets/img/icon-days.png");
  }
}

@media (max-width: 880px) {
  .clients {
    display: none;
  }
}

/* QUESTION */

.question {
  position: absolute;
  z-index: 5;
  bottom: 850px;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 61%;
  margin: 0 auto;
  padding: 34px 12%;
  background-color: $bgColorDark;
  
}

.question__title {
  margin: 0;
  margin-bottom: 45px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.question__label {
  color: rgba(255, 255, 255, 0.5);

  // &:nth-of-type(1) {
  //   margin-bottom: 48px;
  // }
}

.question__label--name {
  margin-right: 58px;
}

.question input:not([type="submit"]) {
  margin-bottom: 46px;

  font-family: $fontFutMedium;
  font-size: 18px;
  line-height: 25px;
  color: $mainColor;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  &::placeholder {
    color: $mainColor;
  }
}

.question__label--question {
  width: 100%;
}

.question__input--question {
  width: 100%;
}

.question__checkbox-label {
  width: 100%;
  text-align: center;
}

.question__button {
  margin: 0 auto;
}

@media (max-width: 880px) {
  .question {
    position: static;
  }
}

@media (max-width: 700px) {
  .question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: $mobileWidth) {
  .question {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    background-color: $bgColorDark;
  }

  .question__button {
    width: 100%;
    margin: 0;
  }
}

/* FOOTER */ 



/* CONTACTS */ 

.contacts {
  padding-top: 274px;
  text-align: center;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.contacts__adress {
  margin: 0;
  margin-bottom: 36px;

  font-family: $fontYeseva;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: $yellowColor;
}

.contacts__icons {
  margin-bottom: 43px;
}

@media (max-width: 700px) {
  .contacts__map {
    width: 300px;
  }
}

@media (max-width: $mobileWidth) {
  .contacts {
    padding: 0 18px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
  }

  .contacts__adress {
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 25px;
  }

  .contacts__map {
    order: -1;
    width: 300px;
  }

  .contacts__icons {
    margin-bottom: 35px;
  }
}

/* FOOTER-MENU */ 

.footer__menu {
  display: flex;
  align-items: center;

  padding: 23px 100px 23px 82px;

  background-color: $bgColorDark;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 1437px) {
  .footer__menu {
    padding: 1.6% 7% 1.6% 5.7%;
  }
}

@media (max-width: 880px) {
  .footer__menu {
    display: none;
  }
}