@import "./assets/fonts";
@import "./assets/variables";


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-size: 15px;
  font-family: $fontBook;
  color: $mainColor;
  background-color: $bgColorSide;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}


.wrapper {
  max-width: $desktopWidth;
  width: 100%;
  margin: 0 auto;
}

/* Button*/

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 33px;

  background-color: $yellowColor;
  font-family: $fontDemiIt;
  text-decoration: none;
  text-transform: uppercase;
  color: $mainColor;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

  &:hover {
    background-color: transparent;
    color: $yellowColor;
    box-shadow: 0 0 0 2px $yellowColor;
  }

  &:active {
    transform: translateY(3px);
  }
}

/* HEADER */

.page-header {
  display: flex;
  align-items: center;

  padding: 23px 100px 23px 82px;

  background-color: $bgColorDark;
  text-transform: uppercase;
  font-size: 14px;
}

.header__logo {
  margin-right: 95px;

  font-family: $fontDemi;
  color: $yellowColor;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

/* Menu */

.menu__item {
  margin-right: 47px;
}

.menu__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__link {
  color: $mainColor;
  font-family: $fontBook;

  &:hover {
    color: $yellowColor;
  }
}

/* Contacts */

.contacts {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: 20px;

  list-style: none;
}


.contacts__link--underline {
  margin-right: 45px;

  text-decoration: underline;
  color: $yellowColor;
  font-family: $fontDemi;

  &:hover {
    color: darken($yellowColor, 20%);
  }
}

/* MAIN */

/* Hero */ 

.hero {
  position: relative;
  min-height: 707px;
  
  background-color: $bgColorDark;
}

.hero__instagram {
  position: absolute;
  top: 260px;
  left: 15px;
  display: block;

  color: $yellowColor;
  transform: rotate(90deg);
  font-family: $fontDemi;
  font-size: 14px;
  line-height: 16px;
}

.hero__wrapper {
  margin-left: 82px;
  padding-left: 60px;
  padding-top: 194px;

  background-image: url('./assets/img/bg-hero.png');
  background-repeat: no-repeat;
  background-position-x: right;
}

.hero__title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 40px;
  line-height: 53px;
  font-family: $fontYeseva;
  text-transform: uppercase;
}

.hero__description {
  width: 500px;
  margin: 0;
  margin-bottom: 41px;

  font-family: $fontBook;
  font-size: 22px;
  line-height: 30px;
}

.hero__button {
  margin-right: 19px;
  margin-bottom: 208px;
}


/* Projects */ 
.projects {
  position: relative;
  min-height: 610px;

  background-color: $bgColorDark;
}

.projects__complete {
  position: absolute;
}

.projects__slider {
  padding-top: 60px;
  padding-left: 100px;
}

/* Slider */

.slider__list {
  display: flex;
  padding-left: 594px;
}

/* Description */ 

