@font-face {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: 400;
  src: local('FuturaBookC'),
    url('../../repair-design-project/assets/fonts/FuturaBookC.woff') format('woff');
}

@font-face {
  font-family: 'FuturaBookC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local('FuturaBookC-Italic'),
    url('../../repair-design-project/assets/fonts/FuturaBookC-Italic.woff') format('woff');
}

@font-face {
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 400;
  src: local('FuturaDemiC'),
    url('../../repair-design-project/assets/fonts/FuturaDemiC.woff') format('woff');
}

@font-face {
  font-family: 'FuturaDemiC-Italic';
  font-style: italic;
  font-weight: 400;
  src: local('FuturaDemiC-Italic'),
    url('../../repair-design-project/assets/fonts/FuturaDemiC-Italic.woff') format('woff');
}

@font-face {
  font-family: 'FuturaMediumC';
  font-style: normal;
  font-weight: 400;
  src: local('FuturaMediumC'),
    url('../../repair-design-project/assets/fonts/FuturaMediumC.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova-Regular'),
    url('../../repair-design-project/assets/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'YesevaOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('YesevaOne-Regular'),
    url('../../repair-design-project/assets/fonts/YesevaOne-Regular.ttf') format('ttf');
}
