@import "./fonts";

$fontYeseva: "YesevaOne-Regular", "Arial", sans-serif;
$fontBook: "FuturaBookC", "Arial", sans-serif;
$fontBookIt: "FuturaBookC-Italic", "Arial", sans-serif;
$fontDemi: "FuturaDemiC", "Arial", sans-serif;
$fontDemiIt: "FuturaDemiC-Italic", "Arial", sans-serif;
$fontProxima: "ProximaNova-Regular", "Arial", sans-serif;
$fontFutMedium: "FuturaMediumC", "Arial", sans-serif;

$mainColor: #ffffff;
$secondColor: #363636;
$grayColor: #959595;

$yellowColor: #E3B873;

$mobileWidth: 375px;
$desktopWidth: 1440px;

$bgColorDark: #131313;
$bgColorWhite: #ffffff;
$bgColorSide: #252525;
